version: "3"
services:
  gickup:
    container_name: gickup
    image: buddyspencer/gickup:latest
    volumes:
      - '{{ base_folder }}/conf.yml:/gickup/conf.yml' 
      - '{{ destination_local_path }}:/output'
    environment:
      TZ: {{ timezone }}
    command: ["/gickup/conf.yml"]
    restart: unless-stopped
    ports: 
      - '{{ metrics_listen_address }}:{{ metrics_listen_address }}'


volumes:
  conf:
  data:
