version: "3"
services:
  gickup:
    container_name: gickup
    image: buddyspencer/gickup:latest
    volumes:
      - '{{ destination_local_path }}/conf.yml:/gickup/conf.yml' 
      - '{{ destination_local_path }}:/output'
    environment:
      TZ: {{ timezone }}
    command: ["/gickup/conf.yml"]
    restart: unless-stopped


volumes:
  conf:
  data:
